[Unit]
Description=obexpushd service

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=root
Group=pi
ExecStart=/usr/bin/obexpushd -B -o /home/pi/Pictures/ -n
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target